@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Raleway", sans-serif;
}

/* Navigation Global Styles */
.header-container {
  background-color: #636c79;
}

.header-items {
  padding: 25px 40px 25px 40px;
}

.company-logo img {
  width: 80px;
  height: 30px;
}

.header-items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

/* Button Style */
.nav-item:last-child button,
.item-button button {
  padding: 9px 35px;
  background-color: transparent;
  border: 1px solid #7f8691;
  color: #edeeef;
  font-size: 15px;
  font-weight: 500;
  border-radius: 3px;
}

/* Navigation For Small Devices */
@media screen and (max-width: 1199px) {
  .header-items .header-item:nth-child(2) {
    display: none;
  }

  .header-item:last-child i {
    color: #edeeef;
    font-size: 23px;
  }
}

/* Navigation For Large Devices */
@media screen and (min-width: 1200px) {
  .nav-items li {
    list-style-type: none;
  }

  .nav-items li a {
    text-decoration: none;
    color: #edeeef;
    font-weight: 400;
  }

  .header-item:first-child {
    flex: 4;
  }

  .header-item:nth-child(2) {
    flex: 6;
  }

  .header-items .header-item:last-child {
    display: none;
  }

  .header-items .header-item:nth-child(2) {
    display: block;
  }

  .header-items .header-item:nth-child(2) .nav-items {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  .nav-items .nav-item:last-child {
    margin-left: 75px;
  }
}

/*Hero-Section Global Style  */
.hero-container {
  padding: 10px 70px 65px 70px;
}

.hero-items {
  display: flex;
  align-items: center;
  gap: 30px;
}

.hero-item {
  flex: 1;
  padding: 10px;
}

.hero-item-1 img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.item-heading h1 {
  color: #ffffff;
  font-size: 55px;
  margin-bottom: 10px;
}

.item-paragraph {
  color: #edeeef;
  font-size: 16px;
  margin-bottom: 20px;
  text-align: justify;
  letter-spacing: 0.1em;
  line-height: 1.8em;
}



@media screen and (max-width: 1024px) {
  .header-items {
    padding-bottom: 15px;
  }

  .hero-container {
    padding: 0px 50px 10px 50px;
  }

  .hero-items {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .item-heading h1 {
    color: #ffffff;
    font-size: 30px;
    margin-bottom: 10px;
  }

  .item-paragraph {
    color: #edeeef;
    font-size: 16px;
    margin-bottom: 20px;
    text-align: justify;
    letter-spacing: 0.1em;
    line-height: 1.8em;
  }
}

/* Hero-Section Button Below 510px */
.item-button button {
  background-color: #8bb7a2;
  font-weight: 600;
  padding: 15px 35px;
  letter-spacing: 0.05rem;
  border-color: transparent;
  right: 3px;
  top: 5px;
}

/* Hero-Section Button */
@media screen and (min-width: 510px) {
  .item-button {
    position: relative;
    background-color: #ffffff;
    padding: 20px;
  }

  .item-button::before {
    content: "\f0e0";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
  }

  .item-button::after {
    padding-left: 10px;
    content: 'Enter you email address';
    font-size: 14px;
    color: #a0a1a2;
  }

  .item-button button {
    cursor: pointer;
    position: absolute;
  }
}